@import "../_mixins.scss";
@import "../_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.15px;
}

body {
  margin: 0 auto;
  background-color: $white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

p,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  @include button-main;
}

.header {
  margin-bottom: 24px;
  background-color: $background-header-color;
  &__container {
    @include container;
    padding: 59px 0 0;
  }

  &__information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
    &__description {
      .description__title {
        margin-bottom: 17px;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
      }
      .description__text {
        color: $text-secondary;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }

    &__link {
      @include button-main;
    }

    &__link:hover {
      @include button-hover;
    }
  }

  &__socials {
    display: flex;
    .button_low {
      @include button-reset;
      width: 165px;
      padding-bottom: 5px;
      background-color: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $primary-main;
      color: $primary-main;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0.3px;
      text-transform: uppercase;
    }
    .button_low--disabled {
      border: none;
      color: $text-disabled;
    }
  }
}

.compilations {
  &__container {
    @include container;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4fr 1.7fr 100px;
    grid-gap: 24px 0px;

    .compilations__item {
      display: flex;
      flex-direction: row;
      gap: 15px;
      align-items: center;

      font-size: $font-size-normal;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.15px;

      &__description {
        &__name {
          @include description-name;
        }
        &__additional {
          @include description-additional;
        }
      }
    }

    .post {
      img {
        border-radius: 4px;
      }
    }
    .publish {
      gap: 10px;
      img {
        width: 9px;
        height: 9px;
        margin-bottom: 25px;
      }
    }
    .links {
      justify-content: space-between;
      &__button {
        @include button-reset;
        width: 24px;
        height: 24px;
        border-radius: 24px;
      }

      &__button:hover {
        background-color: rgba(33, 150, 243, 0.04);
        img {
          @include small-buttons-change-color;
        }
      }

      &__button:active {
        background-color: rgba(33, 150, 243, 0.24);
        img {
          @include small-buttons-change-color;
        }
      }
    }
  }
}
