* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

p,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  display: flex;
  width: 158px;
  height: 42px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header {
  margin-bottom: 26px;
  background-color: rgba(0, 0, 0, 0.04);
}
.header__container {
  width: 1300px;
  margin: 0 auto;
  padding: 59px 0 0;
}
.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
}
.header__top .header__descr .header__title {
  margin-bottom: 17px;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.header__top .header__button {
  display: flex;
  width: 158px;
  height: 42px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.header__top .header__button:hover {
  background-color: #0b79d0;
}
.header__bottom {
  display: flex;
}
.header__bottom .header__button_low {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 165px;
  padding-bottom: 5px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #2196f3;
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 173.333% */
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.header__bottom .header__button_low--disabled {
  border: none;
  color: rgba(0, 0, 0, 0.38);
}

.posts__container {
  width: 1300px;
  margin: 0 auto;
}
.posts .posts__table {
  width: 100%;
}
.posts .posts__table .table__row th {
  padding: 0 0 30px 0;
  text-align: start;
  font-size: 14px;
}
.posts .posts__table .table__row__column_2 {
  width: 27.8%;
}
.posts .posts__table .table__row__column_2 time {
  padding-left: 18px;
}
.posts .posts__table .table__row__column_3 {
  width: 7.3%;
}
.posts .posts__table .table__row__column {
  padding: 0 0 22px 0;
}
.posts .posts__table .table__row__column__block {
  display: flex;
  gap: 15px;
  align-items: center;
}
.posts .posts__table .table__row__column__block_img {
  border-radius: 4px;
}
.posts .posts__table .table__row__column__block_main {
  font-size: 14px;
}
.posts .posts__table .table__row__column__block_2 {
  gap: 8px;
  margin-bottom: 5px;
}
.posts .posts__table .table__row__column__block_buttons {
  gap: 0;
  justify-content: space-between;
}
.posts .posts__table .table__row .column__small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
}
.posts .posts__table .table__links-item {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 40px;
  transition: background-color 0.3s ease-in-out;
}
.posts .posts__table .table__links-item svg {
  fill: rgba(0, 0, 0, 0.54);
  transition: fill 0.3s ease-in-out;
}
.posts .posts__table .table__links-item:hover {
  background-color: rgba(33, 150, 243, 0.04);
}
.posts .posts__table .table__links-item:hover svg {
  fill: #2196f3;
}
.posts .posts__table .table__links-item:active {
  background-color: rgba(33, 150, 243, 0.24);
}
.posts .posts__table .table__links-item:active svg {
  fill: #2196f3;
}/*# sourceMappingURL=main.css.map */