@import "../_mixins.scss";
@import "../_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.15px;
}

body {
  margin: 0 auto;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

p,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  @include button-main;
}

.header {
  margin-bottom: 24px;
  background-color: $action-hover-4-p;
  &__container {
    @include container;
    padding: 59px 0 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
    .header__descr {
      .header__title {
        margin-bottom: 17px;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
      }
      .header__text {
        color: $text-secondary-54-p;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .header__button {
      @include button-main;
    }

    .header__button:hover {
      @include button-hover;
    }
  }

  &__bottom {
    display: flex;
    .header__button_low {
      @include button-reset;
      width: 165px;
      padding-bottom: 5px;
      background-color: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $primary-main;
      color: $primary-main;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0.3px;
      text-transform: uppercase;
    }
    .header__button_low--disabled {
      border: none;
      color: $text-disabled;
    }
  }
}

.posts {
  &__container {
    @include container;
  }

  .posts__table {
    width: 100%;
    .table__row {
      th {
        padding: 0 0 28px 0;
        text-align: start;
        font-size: 14px;
        font-weight: 500;
      }

      &__column_2 {
        width: 27.8%;
        time {
          padding-left: 18px;
        }
      }

      &__column_3 {
        width: 7.3%;
      }

      &__column {
        padding: 0 0 22px 0;
        &__block {
          display: flex;
          gap: 15px;
          align-items: center;

          &_img {
            border-radius: 4px;
          }

          &_main {
            font-size: 14px;
          }
        }

        &__block_2 {
          padding-top: 3px;
          gap: 8px;
        }

        &__block_buttons {
          gap: 0;
          justify-content: space-between;
        }
      }

      .column__small {
        font-size: 12px;
        color: $text-disabled;
      }
    }

    .table__links-item {
      @include button-reset;
      width: 24px;
      height: 24px;
      border-radius: 40px;
      transition: background-color 0.3s ease-in-out;

      svg {
        fill: $text-secondary-54-p;
        transition: fill 0.3s ease-in-out;
      }
    }

    .table__links-item:hover {
      background-color: $primary-hover-4-p;
      svg {
        filter: invert(70%) sepia(65%) saturate(6190%) hue-rotate(185deg)
          brightness(97%) contrast(96%);
      }
    }

    .table__links-item:active {
      background-color: $primary-active-24-p;
      svg {
        filter: invert(70%) sepia(65%) saturate(6190%) hue-rotate(185deg)
          brightness(97%) contrast(96%);
      }
    }
  }
}
