* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.15px;
}

body {
  margin: 0 auto;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

p,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  display: flex;
  width: 158px;
  height: 42px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header {
  margin-bottom: 24px;
  background-color: rgba(0, 0, 0, 0.04);
}
.header__container {
  width: 1300px;
  margin: 0 auto;
  padding: 59px 0 0;
}
.header__information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
}
.header__information__description .description__title {
  margin-bottom: 17px;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.header__information__description .description__text {
  color: rgba(0, 0, 0, 0.54);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.header__information__link {
  display: flex;
  width: 158px;
  height: 42px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.header__information__link:hover {
  background-color: #0b79d0;
}
.header__socials {
  display: flex;
}
.header__socials .button_low {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 165px;
  padding-bottom: 5px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #2196f3;
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.header__socials .button_low--disabled {
  border: none;
  color: rgba(0, 0, 0, 0.38);
}

.compilations__container {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 4fr 1.7fr 100px;
  grid-gap: 24px 0px;
}
.compilations__container .compilations__item {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.compilations__container .compilations__item__description__name {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.compilations__container .compilations__item__description__additional {
  color: rgba(0, 0, 0, 0.38);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.compilations__container .post img {
  border-radius: 4px;
}
.compilations__container .publish {
  gap: 10px;
}
.compilations__container .publish img {
  width: 9px;
  height: 9px;
  margin-bottom: 25px;
}
.compilations__container .links {
  justify-content: space-between;
}
.compilations__container .links__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 24px;
}
.compilations__container .links__button:hover {
  background-color: rgba(33, 150, 243, 0.04);
}
.compilations__container .links__button:hover img {
  filter: invert(63%) sepia(49%) saturate(7289%) hue-rotate(186deg) brightness(102%) contrast(90%);
}
.compilations__container .links__button:active {
  background-color: rgba(33, 150, 243, 0.24);
}
.compilations__container .links__button:active img {
  filter: invert(63%) sepia(49%) saturate(7289%) hue-rotate(186deg) brightness(102%) contrast(90%);
}/*# sourceMappingURL=main.css.map */