$white: #fff;
$text-primary: #000;
$text-secondary: rgba(0, 0, 0, 0.54);
$text-disabled: rgba(0, 0, 0, 0.38);

$primary-main: #2196f3;
$primary-dark: #0b79d0;
$background-header-color: rgba(0, 0, 0, 0.04);

$error-color: #f44336;
$grey-300: #e0e0e0;
$grey-900: #212121;
$scroll-color: #bdbdbd;

$font-size-normal: 14px;
