@import "../_mixins.scss";
@import "../_variables";

* {
  box-sizing: border-box;
  letter-spacing: 0.15px;
}

body {
  position: relative;
  margin: 0 auto;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-y: hidden;
}

p,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.creation__test {
  .wrap {
    position: relative;
    border: 1px dashed $error-color;
    padding: 35px 37px 30px;
    display: flex;
    gap: 16px;
    margin-bottom: 50px;
    &__input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      border: 0;
      outline: 0;
      opacity: 0;
      cursor: pointer;
    }
    .wrap__content {
      .wrap__content__text {
        font-size: 14px;
        line-height: 20px;
        &_2 {
          color: $primary-main;
        }
        &_3 {
          font-size: 12px;
          color: $text-secondary;
        }
      }
      &__error {
        position: absolute;
        bottom: -23px;
        left: 110px;

        padding: 4px 8px;

        border-radius: 4px;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px; /* 140% */
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.9) 100%
          ),
          #f44336;
        color: rgb(125, 23, 35);
      }
    }
  }

  .creation__content__span {
    position: relative;
    display: inline-block;
    width: 100%;

    input {
      width: 100%;
    }

    &__description {
      position: absolute;
      top: 20px;
      right: 12px;
      color: $text-secondary;
    }

    &__error {
      position: absolute;
      bottom: -22px;
      left: 2px;

      color: $error-color;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 166.667% */
      letter-spacing: 0.4px;
    }
  }

  input {
    padding: 17px 11px;
    border: none;
    border: 1px solid $error-color;
    border-radius: 4px;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 1px;
  border-radius: 10px;
  background-color: $scroll-color;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.header {
  background-color: $background-header-color;
  &__container {
    @include container;
    padding: 25px 0 25px;
  }

  &__link {
    display: inline-flex;
    margin-bottom: 95px;
    gap: 8px;
    font-size: $font-size-normal;
    line-height: 20px;
    color: $text-secondary;
  }

  &__description {
    &__title {
      margin-bottom: 15px;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
    }

    &__text {
      display: inline-block;
      max-width: 27%;
      font-size: $font-size-normal;
      line-height: 20px;
      color: $text-secondary;

      &__link {
        color: $primary-main;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
}

.creation {
  &__container {
    @include container;
    padding: 30px 0;
  }

  &__container__2 {
    width: 36.8%;
    overflow-y: scroll;
    height: 65vh;
    padding: 0 2px;
  }

  &__block {
    width: 94.5%;
  }

  &__title {
    color: #000000;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
  }

  &__description {
    color: $text-secondary;
    margin-bottom: 23px;
    font-size: $font-size-normal;
    line-height: 20px;
  }

  &__content {
    display: flex;
    margin-bottom: 35px;
    flex-direction: column;
    gap: 18px;

    &__span {
      position: relative;
      display: inline-block;
      width: 100%;

      input {
        width: 100%;
      }

      &__description {
        position: absolute;
        top: 20px;
        right: 12px;
        color: $text-secondary;
      }
    }

    input,
    textarea {
      padding: 17px 11px;
      border: none;
      border: 1px solid $grey-300;
      border-radius: 4px;
    }

    textarea {
      resize: none;
    }

    input:focus,
    textarea:focus {
      outline: 1px solid $primary-main;
    }
  }

  &__download {
    margin-bottom: 35px;
    &__title {
      margin-bottom: 16px;
    }
    .download__block {
      .wrap {
        position: relative;
        border: 1px dashed $text-disabled;
        padding: 35px 37px 30px;
        display: flex;
        gap: 16px;
        &__input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 0;
          border: 0;
          outline: 0;
          opacity: 0;
          cursor: pointer;
        }
        .wrap__content {
          .wrap__content__text {
            font-size: 14px;
            line-height: 20px;
            &_2 {
              color: $primary-main;
            }
            &_3 {
              font-size: 12px;
              color: $text-secondary;
            }
          }
        }
      }
    }
  }

  &__color {
    &__input {
      width: 50px;
      height: 50px;
      margin-bottom: 32px;
      border: none;
      border-radius: 48px;
      background-color: transparent;
    }

    &__input::-webkit-color-swatch {
      border-radius: 48px;
    }

    &__input::-moz-color-swatch {
      border-radius: 48px;
    }

    &__input:active {
      outline: 1px solid #c4c4c4;
    }
  }

  &__read {
    max-width: 93.5%;
    &__description {
      margin-bottom: 24px;
    }
    .switch {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 32px;
      .switch__text {
        color: $text-primary;
        font-size: 12px;
        letter-spacing: 0.4px;
      }
      .switch__text_2 {
        color: $text-disabled;
      }

      .switch__label {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 23px;
        &__input {
          display: none;
        }
        &__slider {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $grey-900;
          border-radius: 33px;
          cursor: pointer;
        }

        &__slider::before {
          position: absolute;
          content: "";
          height: 17px;
          width: 17px;
          left: 3px;
          bottom: 3px;
          background-color: $white;
          border-radius: 17px;
          transition: transform 0.3s ease-in-out;
        }

        .switch__label__input:checked + .switch__label__slider:before {
          transform: translateX(26px);
          filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12))
            drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14))
            drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2));
        }

        .switch__label__input:checked + .switch__label__slider {
          background-color: $grey-300;
        }
      }
    }
  }

  &__links {
    max-width: 93.5%;

    &__form {
      display: flex;
      flex-direction: column;
      gap: 17px;

      .links__form__block {
        position: relative;
        display: inline-block;
        width: 100%;

        &__input {
          width: 100%;
          padding: 17px 11px;
          border: 1px solid $grey-300;
          border-radius: 4px;
        }

        input:focus {
          outline: 1px solid $primary-main;
        }

        .block__label__input {
          position: absolute;
          opacity: 0;
          overflow: hidden;
          z-index: -1;
        }

        img {
          position: absolute;
          top: 16px;
          left: 10px;
        }

        .links__form__block__description {
          position: absolute;
          top: 20px;
          right: 12px;
          color: $text-disabled;
        }
      }

      .links__form__block_last {
        margin-bottom: 50px;
      }

      .form__block__label__input_last {
        padding-left: 40px;
      }

      .block-last {
        margin-bottom: 46px;
      }

      .submit-block {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        &__button {
          @include button-reset;
          width: 100%;
          padding: 8px 22px;
          background-color: $primary-main;
          color: $white;
          border-radius: 4px;
          font-size: 15px;
          font-weight: 500;
          line-height: 26px;
          letter-spacing: 0.3px;
        }

        &__button:hover {
          @include button-hover;
        }

        &__description {
          margin-bottom: 30px;
          max-width: 80%;
          font-size: 12px;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.4px;
          color: $text-secondary;
          text-align: center;
        }
      }
    }
  }
}

.divider {
  width: 95%;
  height: 1px;
  margin-bottom: 30px;
  padding-top: 1px;
  background-color: $grey-300;
}

.preview {
  position: fixed;
  top: 16px;
  right: 17px;
  width: 59%;
  max-width: 1080px;
  background-color: $grey-900;
  border-radius: 14px;

  &__container {
    @include container;
    display: flex;
    max-width: 355px;
    height: 92.7vh;
    align-items: center;
  }

  .content {
    height: 73.4%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      #9197a3 22.4%,
      #9197a3 100%
    );
    border-radius: 40px 40px 48px 48px;
    &__display {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 10px 19px;
      border: 13px solid #e4e4e4;
      border-radius: 47px;
      background-image: url("../../assets/images/onion.png");
      background-repeat: no-repeat;

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__time {
          color: $white;
          font-size: 11px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }

      .bottom {
        width: 100%;
        border-radius: 0px 0px 40px 40px;

        &__title {
          margin-bottom: 8px;
          font-size: 20px;
          font-weight: 500;
          line-height: 32px;
        }
        &__descr {
          display: inline-block;
          width: 100%;
          height: 184px;
          font-size: $font-size-normal;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
  }
}
