* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0 auto;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-y: hidden;
}

p,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: rgba(0, 0, 0, 0.04);
}
.header__container {
  width: 1300px;
  margin: 0 auto;
  padding: 25px 0 25px;
}
.header__link {
  display: inline-flex;
  margin-bottom: 95px;
  gap: 8px;
  font-size: 14px;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.54);
}
.header__descr .header__title {
  margin-bottom: 15px;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 88.889% */
  letter-spacing: 0.15px;
}
.header__descr .header__text {
  display: inline-block;
  max-width: 27%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.54);
}
.header__descr .header__text .header__text_link {
  color: #2196f3;
}

main {
  display: flex;
  flex-direction: column;
}

.creation__container {
  width: 1300px;
  margin: 0 auto;
  padding: 30px 0;
}
.creation__container__2 {
  width: 36.8%;
  overflow-y: scroll;
  height: 65vh;
  padding: 0 2px;
}
.creation__block {
  width: 94.5%;
}
.creation__title {
  color: #000000;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
  letter-spacing: 0.15px;
}
.creation__descr {
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 23px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.15px;
}
.creation__content {
  display: flex;
  margin-bottom: 35px;
  flex-direction: column;
  gap: 18px;
}
.creation__content__span {
  position: relative;
  display: inline-block;
  width: 100%;
}
.creation__content__span input {
  width: 100%;
}
.creation__content__span__descr {
  position: absolute;
  top: 20px;
  right: 12px;
  color: rgba(0, 0, 0, 0.54);
}
.creation__content input,
.creation__content textarea {
  padding: 17px 11px;
  border: none;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.creation__content textarea {
  resize: none;
}
.creation__download {
  margin-bottom: 35px;
}
.creation__download__title {
  margin-bottom: 16px;
}
.creation__download .block {
  display: flex;
  gap: 17px;
  padding: 35px 27px 35px 35px;
  border: 1px dashed #000;
}
.creation__download .block__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 31px;
  height: 38px;
}
.creation__download .block__guide {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.15px;
}
.creation__download .block__guide a {
  color: #2196f3;
}
.creation__download .block__guide small {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.creation__color__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-bottom: 32px;
  border-radius: 48px;
  background-color: #9197a3;
}
.creation__color__button:active {
  outline-offset: 1px;
  outline: 1px solid #c4c4c4;
}
.creation__read {
  max-width: 93.5%;
}
.creation__read__descr {
  margin-bottom: 24px;
}
.creation__read .button-block {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 33px;
}
.creation__read .button-block p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.creation__read .button-block__text_black {
  color: rgba(0, 0, 0, 0.8705882353);
}
.creation__read .button-block__text_light {
  color: rgba(0, 0, 0, 0.38);
}
.creation__read .button-block__button {
  position: relative;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 50px;
  height: 23px;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 33px;
}
.creation__read .button-block__button svg {
  position: absolute;
  top: 3px;
  left: 5px;
}
.creation__link {
  max-width: 93.5%;
}
.creation__link__descr {
  margin-bottom: 25px;
}
.creation__link__form {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.creation__link__form span {
  position: relative;
  display: inline-block;
  width: 100%;
}
.creation__link__form span input {
  width: 100%;
  padding: 17px 11px;
  border: none;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.creation__link__form span button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 17px 11px;
  align-items: center;
  gap: 10px;
  outline: 1px solid #e0e0e0;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.54);
}
.creation__link__form .span-last {
  margin-bottom: 46px;
}
.creation__link__form .submit-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.creation__link__form .submit-block__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  padding: 11px 22px;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
}
.creation__link__form .submit-block__button:hover {
  background-color: #0b79d0;
}
.creation__link__form .submit-block__descr {
  max-width: 80%;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}

.divider {
  margin-bottom: 30px;
  height: 1px;
  padding-top: 1px;
  background-color: #e0e0e0;
}

.preview {
  position: fixed;
  top: 16px;
  right: 17px;
  width: 59%;
  background-color: #212121;
  border-radius: 14px;
}
.preview__container {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  max-width: 355px;
  height: 92.7vh;
  align-items: center;
}
.preview .content {
  height: 73.4%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #9197a3 22.4%, #9197a3 100%);
  border-radius: 40px 40px 48px 48px;
}
.preview .content__display {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 19px;
  border: 13px solid #e4e4e4;
  border-radius: 47px;
  background-image: url("../../img/onion.png");
  background-repeat: no-repeat;
}
.preview .content__display .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.preview .content__display .top__time {
  color: #ffffff;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.preview .content__display .bottom {
  width: 100%;
  border-radius: 0px 0px 40px 40px;
}
.preview .content__display .bottom__title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
  letter-spacing: 0.15px;
}
.preview .content__display .bottom__descr {
  display: inline-block;
  width: 100%;
  height: 184px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.15px;
}/*# sourceMappingURL=create.css.map */